<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>org.blockchainatberkeley.screen.audio-levels</string>
  <key>CFBundleName</key>
  <string>B@B screen audio levels</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>The B@B screen draws a waveform of the music playing on this Mac along the bottom of the display.</string>
</dict>
</plist>
